body
{
    background-color: rgb(0, 0, 0);
}

.lineOne
{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding: 5px;
    justify-content: flex-start;
}

.leftColone
{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.logo
{
    background-color: blue;
    color: black;
    height: 60px;
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.navFichierProfil
{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

.NAV
{
    background-color: purple;
    color: black;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    padding:0 20px;
}

.Accueil
{
    background-color: lightblue;
    height: auto;
    border-radius: 12px;
    width: auto;
    padding: 5px;
}

.Projets
{
    background-color: cyan;
    height: auto;
    border-radius: 12px;
    width: auto;
    padding: 5px;
}

.Stats
{
    background-color: greenyellow;
    height: auto;
    border-radius: 12px;
    width: auto;
    padding: 5px;
}

.Tâche
{
    background-color: orange;
    height: auto;
    border-radius: 12px;
    width: auto;
    padding: 5px;
}

.Equipe
{
    background-color: red;
    height: auto;
    border-radius: 12px;
    width: auto;
    padding: 5px;
}

.Docs
{
    background-color: lightpink;
    height: auto;
    border-radius: 12px;
    width: auto;
    padding: 5px;
}

.Paramètres
{
    background-color: green;
    border-radius: 12px;
    width: auto;
    padding: 5px;
    height: auto;
}

.rightColone{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    justify-content: flex-start;
}

.Fichier
{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    border-radius: 12px;
    height: 60px;
}

.Recherche
{
    background-color: lightgrey;
    color: black;
    border-radius: 12px;
}

.Nouveau
{
    background-color: lightblue;
    height: 30px;
    border-radius: 12px;
}

.Exporter
{
    background-color: green;
    height: 30px;
    border-radius: 12px;
}

.profileWidget
{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 12px;
}

.profile
{
    background-color: purple;
    border-radius: 12px;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.gauche
{
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 12px;
}

.carréBleu
{
    background-color: lightskyblue;
    height: 50px;
    width: 50px;
    border-radius: 12px;
}

.infoPerso
{
    color: black;
}

.Suivre
{
    background-color: green;
    color: black;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
}

.widget1
{
    background-color: yellow;
    color: black;
    height: 25px;
    width: 300px;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}

.widget2
{
    background-color: darkred;
    height: 25px;
    width: 300px;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}

.widget3
{
    background-color: pink;
    height: 25px;
    width: 300px;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}
.MenuSelection
{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
}

.menuTop
{
    background-color: plum;
    border-radius: 12px;
    width: 250px;
    padding: 5px;
}

.dashBoard
{
    background-color: lightblue;
    border-radius: 12px;
    width: 250px;
    padding: 5px;
}

.activité
{
    background-color: greenyellow;
    border-radius: 12px;
    width: 250px;
    padding: 5px;
}

.kanban
{
    background-color: lightcoral;
    border-radius: 12px;
    width: 250px;
    padding: 5px;
}

.reporting
{
    background-color: cyan;
    border-radius: 12px;
    width: 250px;
    padding: 5px;
}

.paramètres
{
    background-color: green;
    border-radius: 12px;
    width: 250px;
    padding: 5px;
}